@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
 flex-wrap: wrap; 
}

html, body {
    height: 100%;
    margin: 0;
    background-color:rgb(213, 113, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header, .book-container {
    width: 80%;
    margin: 0px auto;
    padding: 30px;
    border: 5px solid darkslategray;
}

.main-page-header {
    background-color:rgb(226, 162, 0);
}

.book-container h3 {
    text-decoration: underline;
    margin-bottom: 40px;
}

.book-container {
    background-color: rgb(226, 162, 0);
}

.backgroundimg {
    background-image: url("../images/table.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    font-weight: bolder;
}

.title-text {
    padding:25px 150px;
    font-weight: bold;
    text-align: center;
    border: 5px solid black;
    background-color: white;
}

#box1 {
    width: 200px;
    height: 200px;
    left: 6%;
    top: 50%;
    position: absolute;
}

#box2 {
    width: 200px;
    height: 200px;
    left: 28%;
    top: 50%;
    position: absolute;
}

#box3 {
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    position: absolute;
}

.interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 150px 20% 0 20%;
    /* height: 300px; */
}

.imgText {
    display: none;
    text-align: center;
    margin-top: 5px;
    border: 5px solid black;
    background-color: white;
}

.box:hover .imgText {
    display: flex;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#goldilocks {
    background-image: url("../images/cabinInWoods.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    box-shadow: 5px 5px 5px black;
}
#goldilocks h2, #goldilocks p {
    color: white;
    background: rgba(0, 0, 0, 0.3);
    margin: 0px;
}

@media screen and (max-width: 768px) {
    body {
        width: auto;
        height: auto;
    }

    .title-text {
        margin: 25px 50px 50px 50px;
    }

    .backgroundimg{
        background-size: 100vw;
        /* background-position-y:bottom; */
    }

    .title-text {
        padding: 25px 0;
    }
    
}