@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
 flex-wrap: wrap; 
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../images/table.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titleText {
    width: 50%;
    margin-bottom: 150px;
}

.box {
    width: 150px;
    height: 150px;
    justify-content: space-between;
}

.interactions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imgText {
    display: none;
    text-align: center;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    body {
        width: auto;
        height: auto;
    }
    
}