:root {

}

* {
  
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    background-image: url("../images/table.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.img:hover {
    transition: .5s;
    transform: scale(1.2);
    background-color: rgb(255, 246, 226);
}